<header class="site-header">
  <div class="header-inner">
    <a href="/" class="header-logo">
      <div class="logo-icon">
        <i class="fas fa-shipping-fast"></i>
      </div>
      <div class="logo-text">
        <span class="logo-brand">Rastreio</span>
        <span class="logo-sub">Encomendas</span>
      </div>
    </a>
    <nav class="header-nav">
      <a href="/" class="nav-link">
        <i class="fas fa-search"></i> Rastrear Pedido
      </a>
    </nav>
  </div>
</header>
